<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление книги</title>
</head>
<body>
<form th:method="POST" th:action="@{/books/search}">
    <label for="query">Введите поисковый запрос:</label>
    <input type="text" id="query" name="query">
    <br/>
    <input type="submit" value="Искать!">
</form>
<div th:if="${books}">
    <div th:if="${books.isEmpty()}">
        <span>Книг не найдено</span>
    </div>

    <div th:each="book : ${books}">
        <p th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}"/>

        <div th:if="${book.getOwner() != null}">
            <span>Книга сейчас у: </span> <span th:text="${book.getOwner().getFullName()}"/>
        </div>

        <div th:if="${book.getOwner() == null}">
            <span>Книга свободна</span>
        </div>

        <hr/>
    </div>
</div>
<br/>
<a href="/books">Все книги</a>

</body>
</html>